

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: augdice/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: augdice.settings
  - option_name: AWS_SECRET_KEY
    value: 7DCvCmoVqixYyoXKCs9hTBMCAQxV+bIuIHvdxu3b
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAJKQ2QA2K3N36FMOA
